@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/hero/arnaud.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 36.1111111111rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: center right 26%;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 3.6111111111rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    padding: 0;
    width: 100%;
  }
}

.hero__title-section {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.9444444444rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.2222222222rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.1666666667rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header {
    background-color: #1968B1;
    height: 10%;
    padding: 0.8888888889rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-right: 1.2222222222rem;
  margin-bottom: 13px;
}
.menu__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .menu__item {
    margin-right: 0;
    margin-bottom: 13px;
  }
}

.menu__link {
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .menu__link {
    font-size: 36px;
    font-weight: normal;
  }
}

.phone-number {
  font-size: 1.2222222222rem;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.7222222222rem;
  margin-right: 0.3333333333rem;
}

.phone-number__text {
  white-space: nowrap;
}

.designs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.designs__item {
  margin-right: 1.6666666667rem;
}
.designs__item:last-child {
  margin-right: 0;
}

.design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design__icon {
  width: 1.8888888889rem;
  margin-right: 0.7777777778rem;
}

.design__text {
  font-size: 0.8888888889rem;
  max-width: 5rem;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: bold;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5.5555555556rem;
  line-height: 1;
  display: inline-block;
  border: none;
}
.btn--theme--yellow {
  background: #FEDB3F;
  color: #000;
}
.btn--theme--yellow:hover {
  background: #000;
  color: #FEDB3F;
}
.btn--theme--stransparent {
  background: transparent;
  color: #fff;
  text-transform: none;
}
.btn--theme--stransparent:hover {
  color: #FEDB3F;
}

.section__container {
  padding: 5rem 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.section {
  height: 100%;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section--font-color--white {
  color: #fff;
}
.section--font-color--white .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.9444444444rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 2.2222222222rem;
    margin-bottom: 0.5rem;
  }
}

.headline__subtitle {
  padding: 0 3%;
  margin-bottom: 2.7222222222rem;
}

.whys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .whys {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.whys__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .whys__item {
    padding: 0;
  }
}
.whys__item::before {
  content: url(../img/icon/tochki.png);
  position: absolute;
  top: 13%;
  right: 1%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .whys__item::before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .whys__item::before {
    display: none;
  }
}
.whys__item:last-child {
  padding-left: 0;
}
.whys__item:last-child {
  padding-left: 0;
}
.whys__item:last-child::before {
  display: none;
}

.why {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .why {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.why__title {
  font-weight: bold;
  font-size: 27px;
  color: #292929;
}

.why__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .why__image-wrapper {
    margin-bottom: 1.7222222222rem;
    margin-right: 1.1111111111rem;
  }
}

.why__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.products--section {
  background: #F8FAF9;
}

.container__product {
  padding: 3.4444444444rem 0 3.4444444444rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.products__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products__slider .bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}
@media screen and (max-width: 480px) {
  .slider__side {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 190px 0 0 0;
  }
}

.side__img {
  width: 13px;
  height: 27px;
  margin: 10px;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .product__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .product__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__col-background {
  background: url(../img/slider/slider_background.png) center no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 62px;
}
@media screen and (max-width: 768px) {
  .product__col-background {
    margin-right: 0;
  }
}

.product__title {
  font-weight: bold;
  font-size: 36px;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.product__desc {
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .product__desc {
    text-align: center;
  }
}

.product__option {
  position: relative;
  display: inline-block;
}

.product__option__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__option__desc-board {
  margin-right: 52px;
}
.product__option__desc-board:last-child {
  margin-right: 0;
}

.product__option__prise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__prise {
  font-size: 60px;
  color: #151515;
  margin-right: 28px;
}
@media screen and (max-width: 480px) {
  .product__prise {
    margin-right: 3px;
  }
}

.product__option__desc-bold {
  color: #000;
  font-weight: bold;
}

.menu__dropdBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3A587E;
  color: white;
  width: 91px;
  height: 91px;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 52px;
  text-decoration: none;
}
.menu__dropdBtn:hover {
  background: #3465A3;
}
.menu__dropdBtn:focus {
  background: #3465A3;
}
@media screen and (max-width: 768px) {
  .menu__dropdBtn {
    display: none;
  }
}

.menu__dropd-img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu__dropdownt {
  position: relative;
  display: inline-block;
}

.menu__dropdown_list {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 273px;
  z-index: 1;
  border-radius: 4px;
  padding: 18px 13px;
  left: 90px;
  top: 0px;
}

.menu__dropdown__item {
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.menu__dropdown__item:last-child {
  margin-bottom: 0;
}

.menu__dropdown__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.show {
  display: block;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 0 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .team__list--desktop {
    display: none;
  }
}

.team__list--desktop .team__content {
  position: absolute;
  top: 100%;
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 20px;
  min-width: 14rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__member-img {
  margin-bottom: 21px;
}

.team__title {
  color: #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 21px;
  font-weight: bold;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .team__title {
    margin-bottom: 15px;
  }
}

.team__title_sub {
  margin-right: 4px;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
  max-width: 221px;
  text-align: center;
}

.team__content-block {
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__content-subtitle {
  font-weight: normal;
  font-size: 18px;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .team__content-subtitle {
    font-weight: bold;
  }
}

.team__list--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team__list--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.product--menu--section {
  background: url(../../img/menu-product/teahupoo-surf.png) center center/cover no-repeat;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
}

.product--menu--section__title {
  margin-left: 84px;
  margin-top: 109px;
  color: #fff;
}

.product--menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product--menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product--menu__title {
  position: relative;
  width: 100px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product--menu__text {
  font-weight: bold;
  font-size: 48px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  padding: 22px 39px;
  color: #444;
}

.product--menu__content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.product--menu__conrainer {
  padding: 40px 73px 45px 26px;
}

.reviews__container {
  padding: 3.4444444444rem 0 3.4444444444rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.3333333333rem 2.3333333333rem;
  margin-bottom: 0.8333333333rem;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 1.7777777778rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  color: #292929;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.7777777778rem;
}

.reviews__text {
  margin-bottom: 1.3888888889rem;
}

.reviews__author {
  color: #292929;
  font-weight: bold;
  font-size: 1rem;
}

.player-section {
  background: #F8FAF9;
}

.player__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.3333333333rem 2.3333333333rem;
}

.player-section__container {
  width: 662px;
  height: 392px;
}

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.player-splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../../img/video/unsplash.png) center center/cover no-repeat;
  cursor: pointer;
}

.active .player__splash {
  display: none;
}

.player-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  height: 35px;
  background: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  width: 382px;
}

.paused .player__start {
  width: 14px;
  height: 22px;
  border: none;
}
.paused .player__start::after, .paused .player__start::before {
  content: "";
  display: block;
  width: 5px;
  top: 0;
  bottom: 0;
  background: #626262;
}
.paused .player__start::after {
  right: 0;
}
.paused .player__start::before {
  left: 0;
}

.player__start {
  background: transparent;
}

.reviews__list {
  position: relative;
  min-height: 280px;
}

.reviews__item {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__switcher-item {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.reviews__switcher-item.active {
  border-color: #FEDB3F;
}
.reviews__switcher-item:hover {
  border-color: #FEDB3F;
}

.reviews__switcher__link {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.reviews__switcher__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__order {
  padding: 3.3333333333rem 0 3.3333333333rem;
}

.order--section {
  background: url(../img/form/jeremy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.order--section:before {
  content: "";
  position: absolute;
  left: 0;
  top: 77.8%;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 11.1%;
  background: rgba(43, 43, 43, 0.5);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.4444444444rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.7777777778rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.7777777778rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form_input {
  width: 100%;
  border: none;
  padding: 1rem 0.6666666667rem;
  border: 0.1666666667rem solid transparent;
  border-radius: 0.2222222222rem;
}
.form_input--textarea {
  height: 9.6666666667rem;
  resize: none;
}
.form_input:focus {
  border-color: #FEDB3F;
  outline: none;
}
.form_input.input-error {
  border-color: #ff0000;
}
@media screen and (max-width: 768px) {
  .form_input {
    height: 48%;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal__container {
  margin: auto;
  background: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

.modal__content {
  margin-bottom: 15px;
  color: #000;
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: #ff0000;
}
.modal.fancybox-content {
  padding: 0 !important;
  max-width: 30%;
  max-height: 30%;
  border-radius: 30px;
}
.modal .fancybox-button {
  display: none;
}

.radio__title {
  margin-right: 0.4444444444rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem;
}
.radio--checkbox .radio__visible::before {
  background: url("../../img/icon/tick.png") center center no-repeat;
}

.radio__element {
  display: none;
}
.radio__element:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
  margin-bottom: 0.9444444444rem;
}
.radio__visible:last-child {
  margin-right: 0;
}
.radio__visible::before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background-color: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.radio--checkbox {
  margin-bottom: 2.6111111111rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu--shadowd {
  color: #000;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1111111111rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.socials {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  background: center center no-repeat;
}

.socials__item--icon-vk .socials__link {
  background-image: url(../img/icon/vk.png);
}
.socials__item--icon-vk .socials__link:hover {
  background-image: url(../img/icon/vk.png);
}

.socials__item--icon-fb .socials__link {
  background-image: url(../img/icon/fb.png);
}
.socials__item--icon-fb .socials__link:hover {
  background-image: url(../img/icon/fb_hover.png);
}

.socials__item--icon-insta .socials__link {
  background-image: url(../img/icon/inst.png);
}
.socials__item--icon-insta .socials__link:hover {
  background-image: url(../img/icon/inst.png);
}

.socials__item--icon-tw .socials__link {
  background-image: url(../img/icon/tv.png);
}
.socials__item--icon-tw .socials__link:hover {
  background-image: url(../img/icon/tv.png);
}

.contacts {
  font-style: normal;
  font-size: 1.1666666667rem;
  color: #000;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.phone--number--theme--black {
  text-decoration: none;
  font-weight: normal;
  font-size: 1.1666666667rem;
  color: #000;
}

.humburger {
  width: 26px;
  height: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .humburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.humburger_plank {
  display: block;
  background: #fff;
  height: 6px;
  border-radius: 10px;
}

.fullsreen__menu {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 10000;
}

.fullsreen__menu__close {
  position: absolute;
  right: 20px;
  top: 35px;
  width: 20px;
  height: 20px;
}

.menu--vercital {
  width: 100vh;
  height: 100vh;
  background: #333537;
  padding: 10px;
  color: #fff;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-text-decoration: center;
          text-decoration: center;
}