.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include tablets {
        background-color: #1968B1;
        height: 10%;
        padding: rem(16px);
        align-items: center;
    }
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}