.fullsreen__menu {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10000;
}

.fullsreen__menu__close {
  // color: #fff;
  position: absolute;
  right: 20px;
  top: 35px;
  // background: #d00;
  // border-radius: 50%;
  width: 20px;
  height: 20px;
  // line-height: 20px;
  // text-align: center;
  // text-decoration: none;
}

.menu--vercital {
  width: 100vh;
  height: 100vh;
  background: #333537;
  padding: 10px;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-decoration: center;
}